coreapi==2.3.3
Django==1.11.17
djangorestframework==3.6.2
eth-abi==2.2.0
gunicorn==21.2.0
moralis==0.1.37
python-dateutil==2.7.0
pytz==2023.3
regex==2023.8.8
requests==2.31.0
six==1.16.0
typing_extensions==4.3.0
urllib3==1.26.16
web3==5.28.0
web3-ethereum-defi==0.11.3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
websockets==9.1
widgetsnbextension==4.0.8
yarl==1.9.2
zipp==3.16.2
