<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="public_key">Public Key:</label><br>
        <input type="text" id="public_key" name="public_key"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>